networks:
  investbrain-network:
    driver: bridge
services:
  app:
    image: investbrainapp/investbrain:latest
    container_name: investbrain-app
    restart: unless-stopped
    tty: true
    ports:
      - 8000:80
    environment: # You can either use these properties OR an .env file. Do not use both!
      APP_KEY: "" # Generate a key using `echo base64:$(openssl rand -base64 32)`
      APP_URL: "http://localhost:8000"
      ASSET_URL: "http://localhost:8000"
      DB_CONNECTION: mysql
      DB_HOST: investbrain-mysql
      DB_PORT: 3306
      DB_DATABASE: investbrain
      DB_USERNAME: investbrain
      DB_PASSWORD: investbrain
      SESSION_DRIVER: redis
      QUEUE_CONNECTION: redis
      CACHE_STORE: redis
      REDIS_HOST: investbrain-redis
    volumes:
      - investbrain-storage:/var/app/storage # You can use a volume... 
      # - /path/to/storage:/var/app/storage # ...or you can use a path on host
    depends_on:
      - mysql
      - redis
    networks:
      - investbrain-network
  redis:
    image: redis:alpine
    container_name: investbrain-redis
    restart: unless-stopped
    tty: true
    command:
      - --loglevel warning
    volumes:
      - investbrain-redis:/data
    networks:
      - investbrain-network
  mysql:
    image: mysql:8.0
    container_name: investbrain-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE:-investbrain}
      MYSQL_USER: ${DB_USERNAME:-investbrain}
      MYSQL_PASSWORD: ${DB_PASSWORD:-investbrain}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-investbrain}
    command: 
      - --cte-max-recursion-depth=25000
    volumes:
      - investbrain-mysql:/var/lib/mysql
    networks:
      - investbrain-network
volumes:
  investbrain-storage:
  investbrain-redis:
  investbrain-mysql:
