@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.wiggle {
    animation: wiggle 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.ai-chat ul, .ai-chat ol, .ai-chat ol li > ul {
    margin-left: 1.1rem;
}

.ai-chat ul > li {
    padding-left: 1.1rem;
    list-style-type: disc;
}

.ai-chat ol > li {
    padding-left: 1.1rem;
    list-style-type: decimal;
}

.ai-chat ol li li {
    padding-left: 0rem;
    list-style-type: none;
}

.ai-chat ol li li::before {
    content: " - ";
}

.ai-chat li, .ai-chat p {
    padding-bottom: .25rem;
}

.ai-chat code {
    font-size: .75rem;
}